:root {
    --bg: #F4D04E;
    --muted: #6B6B6B;
    --text: #111111;
    --card: #FFFFFF;
}

body {
    margin: 0;
    background-color: var(--bg);
    font-family: "Figtree", sans-serif;
    font-size: 0.875rem;
    line-height: 1.5;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-container {
    box-shadow: 8px 8px 0 var(--text);
    box-sizing: border-box;
    width: 24rem;
    padding: 1.5rem;
    background-color: var(--card);
    outline: 1px solid black;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
}

.card-container .blog-image {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    margin-bottom: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.category {
    margin: 0;
    background-color: var(--bg);
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    width: 3.625rem;
    text-align: center;
    font-weight: 800;
    border-radius: 4px;
}

.published {
    margin: 0;
    font-weight: 500;
    color: var(--text);
    font-size: 0.875rem;

}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover h1,
a:active h1,
a:focus {
    color: var(--bg);
}

h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 800;
}

p {
    margin: 0;
    color: var(--muted);
    font-size: 1rem;
    font-weight: 500;
}

.blog-info {
    margin-top: 0.75rem;
    display: flex;
    align-items: center;
}

.blog-info img {
    margin-right: 0.75rem;
}

.author-name {
    color: var(--text);
    font-weight: 800;
    font-size: 0.75rem;
}

@media (max-width: 768px) {
    .card-container {
        width: 20.5rem;
    }

    .blog-image {
        object-fit: cover;
    }

    .category,
    .published {
        font-size: 0.75rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    p,
    .author-name {
        font-size: 0.875rem;
    }
}